@use '../_variables.scss' as var;

.admin-dashboard-main-container {
    padding: 14px;
    width: 85%;
    min-width: 85%;
    color: var.$white-color;
    height: 100vh;
    overflow-y: auto;
    .admin-container {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        border: 1px solid var.$box-color-thick;
        > p {
            color: var.$white-color;
        }
    }
}