$background-color: #000000;
$main-theme-color: rgb(255, 111, 0);
$box-color-light: hsla(0, 0%, 100%, 0.274);
$box-color-thick: hsla(0, 0%, 100%, 0.401);
$white-color: #ffffff;
$grey-color: #acacac;
$hover-color: grey;