@use './variables.scss' as var;
@use './JobLandingPagesStyles/jobLandingPage';
@use './header/LandingPageHeader';
@use './header/EmployerPageHeader';
@use './EmployerPagesStyles/EmployerLoginPage';
@use './JobLandingPagesStyles/JobSearchPage';
@use './JobLandingPagesStyles/jobFilterSection';
@use './JobLandingPagesStyles/jobItem';
@use './ResumePagesStyles/ResumeBuilderPage';
@use './AuthPages/Login';
@use './basic_details_pages/basic_details_1';
@use './AuthPages/verifyEmailPage';
@use './ResumePagesStyles/AddResume';
@use './AiMockInterviewPage';
@use './Blogs';
@use './ResumePagesStyles/resumeChecker';
@use './chatbotui.scss';
@use './header/AdminPageHeader.scss';

:root {
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // color: #ffffff;
}

a{
    text-decoration: none;
    color: var.$white-color;
}

ul {
    list-style-type: none;
}

body {
  user-select: none;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var.$background-color;
}

.spinner-fullpage {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}
  
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0) 
    } 40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

// .loader {
//     position: relative;
//     height: 100vh;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     overflow-x: hidden;
//     > div {
//         height: 10rem;
//         width: 10rem;
//         border-radius: 50%;
//         border-top: 1rem solid rgb(43, 43, 43);
//         border-left: 1rem solid rgb(43, 43, 43);
//         border-right: 1rem solid #fff;
//         border-bottom: 1rem solid #fff;
//         animation: loader-animation 0.5s linear infinite;
//     }
// }

.error-para {
    color: red;
}

.success-para {
    color: rgb(10, 148, 10);
}

.pagelayout-whole-web {
    display: flex;
    flex-direction: column;
    position: relative;
    .chat-bot-container {
        position: fixed;
        z-index: 9999;
    }
}

.admin-pagelayout-whole-web {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

.error-page-styling {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    > p {
        color: var.$white-color;
    }
    > a {
        background-color: var.$main-theme-color;
        padding: 5px;
        border-radius: 8px;
    }
}