@use './_variables.scss' as var;

.jobs-pagination {
    display: flex;
    gap: 12px;
}

.page-size-selction-main-container {
    display: flex;
    gap: 8px;
    > div {
        position: relative;
        display: inline-block;
        > button {
        }
        > ul {
            display: flex;
            flex-direction: column;
            background-color: var.$white-color;
            color: var.$background-color;
            position: absolute;
            left: -25%;
            border-radius: 8px;
            border: 1px solid var.$box-color-thick;
            bottom: 110%;
            padding: 5px;
        }
        > .hidden {
            display: none;
        }
    }
}