
@use '../_variables.scss' as var;

.resume-builder-page-main-container::-webkit-scrollbar {
    width: 4px;
}
.resume-builder-page-main-container::-webkit-scrollbar-track {
    background: transparent;
}
.resume-builder-page-main-container::-webkit-scrollbar-thumb {
    background: rgb(41, 41, 41);
}

.resume-builder-page-main-container {
    margin-top: 10vh;
    height: 100vh;
    overflow-y: auto;

    header.resumeBHead {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 32px;
        border-bottom: 1px solid #ccc;
        gap:24px;
        margin-bottom: 24px;
    }
    
    h1.resume-builder-h1 {
        color:rgb(255, 111, 0);
        font-size: 20px;
        font-weight: 600;
        margin-left: 65px;
        padding-bottom: 2px ;
        margin-top: -30px;
        margin-bottom: -20px;
        line-height: 28px;
    }
    
    .content {
        max-width: 600px;
        margin: 0 auto;
        
    }

    .resume-builder-MainIcon{
        width: 80px;
        margin-bottom: 20px;
    }
    
    h2 {
        color:rgb(255, 111, 0);
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    p {
        color: rgb(255, 255, 255);
        font-size: 17px;
        margin-bottom: 30px;
        letter-spacing: 0.5px;
    }
    
    .resume-builder-btn {
        background-color: rgb(255, 111, 0);
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        
    }
    
    .resume-builder-btn:hover {
        background-color: transparent;
        border: 1px solid var.$main-theme-color;
        color: var.$main-theme-color;
    }


    // Fearures
    /* Main container to hold the cards */
    

    /* Card styling */
    .cards-container {
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
        gap: 30px;
        margin-left: 50px;
        margin-right: 50px;
       
    }
    
    /* Card styling */
    .card {
        flex: 1 1 30%;
        background-color:transparent;
        padding: 24px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 0.5px solid var.$box-color-thick;
        border-radius: 8px;
        text-align: left; /* Align text to the left */
        color: rgb(23, 43, 77);
        width: 100%;
    }
    
    .card-content {
        display: flex;
        align-items: flex-start; /* Align items to the left */
        gap: 15px;
    }
    
    .card img {
        width: 60px;
        margin-bottom: 20px;
    }
    
    .card h3 {
        color: #ffffff;
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .card p {
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 20px;
    }
    
    .card button {
        
        background-color: transparent;
        border: 2px solid rgb(255, 111, 0);
        outline: none;
        font-size: large;
        color: #ffffff;
        width: 100%;
        background-color: rgb(255, 111, 0);
        padding: 12px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            background-color: transparent;
            border: 1px solid var.$main-theme-color;
            color: var.$main-theme-color;
            transition: 0.2s;
        }
    }
    
    
    /* Desktop */
    @media (min-width: 1024px) {
        .card {
            flex: 1 1 30%; 
        }
    }
    
    /* Tablets */
    @media (min-width: 768px) and (max-width: 1023px) {
        .card {
            flex: 1 1 45%; 
        }
    }
    
    /* Mobiles or small screens */
    @media (max-width: 767px) {
        .card {
            flex: 1 1 100%;
        }
    
        .card button {
            padding: 12px 20px;
            font-size: 16px;
        }
    }    
}
