.resume-checker-main-container {
    height: 100vh;
    overflow-y: auto;
    padding-top: 100px;
}

.resumechecker-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    background: linear-gradient(135deg, #6f836c, #181817);
    color: white;
    text-align: center;
    padding: 50px 120px;
}
.img1{
    width: 350px;
    height: 350px;
}

.highlight {
    color:  #ff750c;
}

.cta-buttons .btn {
    margin: 10px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn.primary {
    background-color: #ff750c;
    color: white;
}

.btn.primary:hover {
    background-color: #ff750c;
}

.btn.secondary {
    background-color: white;
    color:  #ff750c;
    border: 2px solid  #ff750c;
}

.btn.secondary:hover {
    background-color: #ff750c;
    color: white;
}



.steps-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap;
    >.container{
        display: flex;
        flex-direction: row;
    }
}

.step-card {
    background: white;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 8px;
    margin:10px;
    transition: transform 0.3s ease;
}

.step-card:hover {
    transform: translateY(-5px);
}

.btn.upload {
    background-color: #ff750c;
    color: white;
    border-color: #ff750c;
    padding: 3%;
    border-radius: 8px;
}

.btn.upload:hover {
    background-color: #ffffff;
    color:#ff750c;
}
.btn-checkresume{
    background-color: #ff750c;
    color: white;
    border-color: #ff750c;
    padding: 3%;
    border-radius: 8px;
    &:hover{
        background-color: #ffffff;
        color:#ff750c;
    }

}
