@use '../_variables.scss' as var;

.filter-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    > div {
        display: flex;
        align-items: center;
        gap: 10px;
        > img {
            height: 14px;
        }
    }
    > p {
        color: var.$main-theme-color;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
    }
}

.diff-filter-items {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 15px;
    > span {
        background-color: transparent;
        border-radius: 12px;
        border: 1px solid var.$box-color-thick;
        padding: 0 12px;
        font-size: 14px;
        color: var.$white-color;
        cursor: pointer;
        > span {
            color: var.$main-theme-color;
            font-size: 17px;
            margin-left: 5px;
        }
    }
}

.dropDown-click-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
    cursor: pointer;
    color: var.$white-color;
    > p {
        font-size: 15px;
        font-weight: 600;
    }
}

.filter-section-dropdownimg {
    font-size: 28px;
    transition: all 0.1s linear;
}

.rotate {
    transform: rotate(180deg);
}

// .slider {
//     -webkit-appearance: none;
//     appearance: none;
//     background: #ffffff;
// }

// .slider::-webkit-slider-runnable-track {
//     background: #ffffff; /* Change track color */
//     height: 8px;
//     border-radius: 5px;
// }

// /* Customize the knob (thumb) */
// .slider::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     appearance: none;
//     width: 15px;
//     height: 15px;
//     background: #ff5733; /* Change knob color */
//     border-radius: 50%;
//     cursor: pointer;
//     margin-top: -6px;
//     transform: translateY(2px);
// }

// /* For Firefox */
// .slider::-moz-range-track {
//     background: #4caf50;
//     height: 8px;
// }

// .slider::-moz-range-thumb {
//     width: 15px;
//     height: 15px;
//     background: #ff5733;
//     border-radius: 50%;
//     cursor: pointer;
// }

.filter-options-group {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    margin: 12px 0;
    position: relative;
    > label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var.$white-color;
        > input {
            color: var.$main-theme-color;
        }
    }
    > input{
        margin-top: 20px;
        position: relative;
        width: 100%;
    }
}

.filter-sortby-section {
    border-bottom: 0.5px solid var.$box-color-thick;
}

.experience-range-filter-section {
    border-bottom: 0.5px solid var.$box-color-thick;
    > p {
        color: #808080;
    }
}

.salary-range-filter-section {
    border-bottom: 0.5px solid var.$box-color-thick;
    > p {
        color: #808080;
    }
}

.datePosted-radio-options-section {
    border-bottom: 0.5px solid rgb(189, 189, 189);
}

.highestEdu-radio-options-section {
    border-bottom: 0.5px solid rgb(189, 189, 189);
    > p {
        color: #808080;
    }
}

.english-radio-options-section {
    border-bottom: 0.5px solid rgb(189, 189, 189);
    > p {
        color: #808080;
    }
}

.workMode-checkBox-section {
    border-bottom: 0.5px solid rgb(189, 189, 189);
}

.range-top-text {
    position: absolute;
    transform: translate(-50%, -35%);
    background-color: var.$main-theme-color;
    color: #ffffff;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    padding: 3px 9px;
    font-size: 13px;
    white-space: nowrap;
}

.experience-label-container {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var.$box-color-thick;
}