@use '../_variables.scss' as var;


.jobSearch-section::-webkit-scrollbar {
    width: 4px;
}
.jobSearch-section::-webkit-scrollbar-track {
    background: transparent;
}
.jobSearch-section::-webkit-scrollbar-thumb {
    background: rgb(41, 41, 41);
}

.jobSearch-section {
    height: 100vh;
    overflow-y: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var.$background-color;
    padding-top: 100px;
    > ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 26px;
        background-color: transparent;
        width: 100%;
        padding-bottom: 5vh;
    }
    > ul li{
        background-color: transparent;
        padding: 4px 14px;
        border-radius: 4px;
        cursor: pointer;
    }
    > ul .selected {
        background-color: transparent;
        border: 1.5px solid var.$main-theme-color;
        color: var.$main-theme-color;
    }
    > ul .prev{
        color: var.$white-color;
        background-color: var.$main-theme-color;
        cursor: pointer;
    }
    > ul .next {
        color: var.$white-color;
        background-color: var.$main-theme-color;
        cursor: pointer;
    }
    >ul .disabled{
        cursor: no-drop;
    }
}

.jobSearch-section-search-bar-section {
    padding: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jobSearch-search-bar-container {
    height: 60px;
    width: 70%;
    display: inline-flex;
    align-items: center;
    border: 1px solid var.$box-color-thick;
    border-radius: 10px;
    background-color: transparent;
    padding: 12px 17px;
    > svg {
        color: var.$white-color;
        font-size: 64px;
        margin-right: 0.6rem;
    }
    > input {
        outline: none;
        border: 0 solid grey;
        font-size: 17px;
        color: var.$white-color;
        height: 100%;
        margin-right: 8px;
        background-color: transparent;
        width: 100%;
    }
}

.jobSearch-filter-jobs-profileUpdate-section {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    border-top: 1px solid var.$box-color-thick;
    > div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
}

.jobSearch-no-of-jobs-heading{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: var.$white-color;
    > h1 {
        font-size: 19px;
        margin: 15px;
    }
}

.jobSearch-filter-container {
    width: 20%;
    min-width: 230px;
    > form {
        background-color: transparent;
        border: 1px solid var.$box-color-thick;
        padding: 22px;
        padding-bottom: 0 !important;
        border-radius: 14px;
        color: var.$white-color;
    }
}

.jobSearch-jobs-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var.$white-color;
}

.jobSearch-jobs-loader-container {
    width: 100%;
    height: 220px;
    padding: 20px;
    border: 1px solid var.$box-color-thick;
    border-radius: 9px;
    > div {
        width: 80%;
        height: 10px;
        background-color: var.$box-color-light;
    }
}

.no-jobs-found-container {
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 2.5rem;
    border: 1px solid var.$box-color-thick;
    > img {
        height: 130px;
        width: 130px;
    }
    > h1 {
        font-size: 20px;
        font-weight: 600;
    }
    > p {
        color: #808080;
        font-size: 15px;
    }
    > button {
        background-color: rgb(251,236,237);
        color: rgb(205,37,88);
        border: 1px solid rgb(210,32,32);
        font-size: 18px;
        padding: 8px 18px;
        border-radius: 20px;
        cursor: pointer;
        > span {
            margin-left: 5px;
            font-size: 21px;
            color: rgb(205,37,88);
        }
    }
}

.job-card-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: transparent;
    border: 1px solid var.$box-color-thick;
    border-radius: 10px;
}

.job-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    > div {
        display: flex;
        align-items: center;
        gap: 12px;
        > img {
            height: 45px;
        }
        > h1 {
            font-size: 16px;
            font-weight: 500;
        }
    }
    > img {
        transform: rotate(-90deg);
        height: 18px;
    }
}

.job-location-salary-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    > img {
        height: 21px;
    }
    > p {
        font-size: 15px;
    }
}

.job-work-type-shift-experience-container {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    margin-top: 8px;
    > span {
        background-color: #f0f0f0;
        border-radius: 4px;
        display: flex;
        white-space: nowrap;
        align-items: center;
        padding: 0.5px 4px;
        font-size: 12px;
        color: #4b4b4b;
        > img {
            height: 24px;
        }
    }
}

.jobSearch-userLogin-card {
    width: 20%;
    min-width: 180px;
    background-color: transparent;
    color: var.$white-color;
}
