.admin-header-main-contianer {
    min-height: 100vh;
    max-height: 100vh;
    width: 15%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-color: black;
    > div {
        display: flex;
        flex-direction: column;
        gap: 19px;
        .logo-header {
            > img {
                height: 34px;
                width: 32px;
            }
        }
        .admin-components {
            display: flex;
            flex-direction: column;
            gap: 9px;
        }
    }
}