@use '../_variables.scss' as var;

.admin-header-main-contianer {
    height: 100vh;
    position: sticky;
    min-width: 15%;
    padding: 14px;
    background-color: var.$background-color;
    > div {
        border: 1px solid var.$box-color-thick;
        height: 100%;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .admin-sidebar {
            display: flex;
            flex-direction: column;
            gap: 9px;
            > .logo-header {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 12px;
                padding: 12px;
                > img {
                    height: 34px;
                    width: 32px;
                }
                > p {
                    padding-top: 5px;
                    color: var.$main-theme-color;
                    font-size: 16px;                
                }
            }
            > .admin-components {
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: 100%;
                padding: 8px;
                > div {
                    padding: 4px;
                    color: var.$white-color;
                    width: 100%;
                    > a {
                        display: block;
                        padding: 3px;
                        width: 100%;
                        height: 100%;
                    }
                }
                > .active-nav {
                    background-color: var.$box-color-thick;
                    border-radius: 5px;
                }
            }
        }
    }
}

.admin-details {
    padding: 12px;
    > p {
        color: var.$white-color;
    }
}